<div>
    <div class="col-sm-12">
        <div class="col-sm-6">
            <center>
                <button ng-click="$ctrl.logout()" style="margin:auto 0;" class="btn btn-success">{{'LOGOUT'| translate}}</button>
            </center>
        </div>
        <div class="col-sm-6">
            <center>
                <language-select></language-select>
            </center>
        </div>
    </div>

    <uib-tabset active="active">
        <uib-tab index="0" heading="{{'BASIC'| translate}}">
            <d3-demo-basic></d3-demo-basic>
        </uib-tab>
        <uib-tab index="1" heading="{{'GRAPH'| translate}}">
            <d3-demo-graph></d3-demo-graph>
        </uib-tab>
        <uib-tab index="2" heading="{{'ANIMATION'| translate}}" ng-click="$ctrl.animationTabOpened()">
            <d3-demo-animation></d3-demo-animation>
        </uib-tab>
    </uib-tabset>

</div>