<div>
    <div class="col-sm-12">
        <div class="col-sm-6">
            <center>
                <button ui-sref="login" style="margin:auto 0;" class="btn btn-success">{{'LOGOUT'| translate}}</button>
            </center>
        </div>
        <div class="col-sm-6">
            <center>
                <language-select></language-select>
            </center>
        </div>
    </div>

    <uib-tabset active="$ctrl.$scope.activeTab">
            <uib-tab index="0">
                <uib-tab-heading>{{'BASIC'| translate}}</uib-tab-heading>
                <d3-demo-basic></d3-demo-basic>
            </uib-tab>
            <uib-tab index="1">
                <uib-tab-heading >{{'GRAPH'| translate}}</uib-tab-heading>
                <d3-demo-graph></d3-demo-graph>
            </uib-tab>
            <uib-tab index="2">
                <uib-tab-heading >{{'ANIMATION'| translate}}</uib-tab-heading>
                <d3-demo-animation></d3-demo-animation>
            </uib-tab>
        </uib-tabset>

</div>