<div>
    <br />
    <common-ui-panel title="{{'GRAPH_BOTTOM_AXIS' | translate}}">
        <svg width="400" height="270" font-family="sans-serif" font-size="10" text-anchor="middle" id="d3-axes"></svg> 
    </common-ui-panel>
    <common-ui-panel title="{{'GRAPH_COMPLETE' | translate}}">
        <svg width="960" height="960" font-family="sans-serif" font-size="10" text-anchor="middle" id="d3-dual-axes" preserveAspectRatio="xMidYMid"></svg> 
    </common-ui-panel>
    <un-aids-graph></un-aids-graph>
</div>